#root {
  padding: 0;
}

@font-face {
  font-family: "pocketMonk";
  src: url("./assets/fonts/PocketMonk-15ze.ttf");
}
@font-face {
  font-family: "maplestory";
  src: url("./assets/fonts/Maplestory-Light.ttf");
}

* {
  font-family: "maplestory";
}
.pokemon-font {
  font-family: "pocketMonk";
}
