@font-face {
  font-family: "pocketMonk";
  src: url("./assets/fonts/PocketMonk-15ze.ttf");
}
@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "pretendard", system-ui, sans-serif;
  }
}
